<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <proxies/>

  <servers>
     <server>
       <id>central</id>
       <username>admin</username>
       <password>$NEXUS_PWD</password>
     </server>
     <server>
       <id>plugins</id>
       <username>admin</username>
       <password>$NEXUS_PWD</password>
     </server>
     <server>
       <id>releases</id>
       <username>admin</username>
       <password>$NEXUS_PWD</password>
     </server>
     <server>
       <id>snapshots</id>
       <username>admin</username>
       <password>$NEXUS_PWD</password>
     </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <mirrorOf>central</mirrorOf>
      <url>http://$PIC_IP:$NEXUS_PORT/repository/maven-central/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>default</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>releases</id>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>http://$PIC_IP:$NEXUS_PORT/repository/maven-releases/</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>snapshots</id>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
          <url>http://$PIC_IP:$NEXUS_PORT/repository/maven-snapshots/</url>
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugins</id>
          <url>http://$PIC_IP:$NEXUS_PORT/repository/maven-central/</url>
          <layout>default</layout>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles/>
</settings>
